<h1>Welcome to EpicDrinkingGames.com</h1>
<p>
  &emsp;&emsp;We have a large collection of drinking games for a variety of different Movies, TV Shows,
  Board games, and Card games. We are constantly updating our collection so remember to check back regularily.
  To help fund the continued growth of the website, please do not use an AdBlocker while browsing this website.
  Have fun but remember to always drink responsibly.
</p>
<p>
  &emsp;&emsp;Our games are developed with the expectation that you play these games with beer or a typical cooler.
  However, you can play these games with any drink. Not feeling drunk enough? You can make a strong mixed
  drink and if that still isn't doing it for you then do a 1/2 or full shot instead.
</p>
<div class='find-game'>
  <h3>Search for a drinking game</h3>
  {{#power-select-typeahead
    search=(action 'searchAsync')
    selected=selected
    extra=(hash labelPath='displayName')
    placeholder='Enter the title of a movie, TV Show, or game'
    onchange=(action 'selectionHandler') as |game|}}
    {{game.displayName}}
  {{/power-select-typeahead}}
  <h4>OR</h4>
  {{link-to 'Browse the full collection of games' 'browse'}}
</div>

<h3 class='new-games-header'>New Drinking Games</h3>
<div class='new-games'>
  <div class='new-movies'>
    <h4>Movies</h4>
    <ul class='new-movies-list'>
      {{#each model.newMovies as |movie|}}
        <li class='movie'>
          {{#link-to 'browse.game' movie.slug}}
            {{movie.displayName}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
  <div class='new-tv-shows'>
    <h4>TV Shows</h4>
    <ul class='new-tv-shows-list'>
      {{#each model.newTvShows as |show|}}
        <li class='tv-show'>
          {{#link-to 'browse.game' show.slug}}
            {{show.displayName}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
